<body>
<header>
  <h1>El Joc del Quadrat</h1>
</header>
<main>
  <section class="instructions">
    <h2>Com jugar</h2>
    <ul>
      <li>Controla el quadrat groc amb les fletxes del teclat.</li>
      <li>Recull tants quadrats blancs com puguis per augmentar la teva puntuació.</li>
      <li>Competeix per la millor posició en el rànquing de guanyadors.</li>
      <li>Cada 20 objectius aconseguits, la dificultat augmenta el doble.</li>
      <li>Si perds 10 objectius, el joc acaba.</li>
      <li>No et preocupis si perds, torna a donar-li a "Jugar" per iniciar una nova partida .</li>
    </ul>
  </section>
</main>
<footer>
  <p>&copy; 2024 El Joc del Quadrat. Tots els drets reservats.</p>
</footer>
</body>
