.bloque{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
}
.subloque{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 30px;
  background-color: aliceblue;
  align-items: center;
}
body{
  height: 92vh;
}
input{
  padding: 10px;
  margin: 1px;
}
button {
  margin-top: 30px;
}
h1{
  margin-bottom: 30px;
  text-align: center;
}
