<body>
<div class="bloque">
  <div class="subloque">
  <h1>Register:</h1>
  <form [formGroup]="loginForm" #formDir="ngForm">
    <input type="email" id="nom" name="nom" placeholder="nom"
           formControlName="nom" required><br/>
    <div *ngIf="loginForm.controls['nom']?.invalid && (loginForm.controls['nom']?.dirty || loginForm.controls['nom']?.touched)"
         class="alert alert-danger">
      <div *ngIf="loginForm.controls['nom']?.errors?.['required']">
        Nom és obligatori.
      </div>
      <div *ngIf="loginForm.controls['nom']?.errors?.['minlength']">
        El nom ha de tenir<br> almenys 3 caràcters.
      </div>
      <div *ngIf="loginForm.controls['nom']?.errors?.['email']">
        Ha de ser un correu.
      </div>
      <div *ngIf="loginForm.controls['nom']?.errors?.['emailStrength']">
        Ha de ser del domini <br> "ies-sabadell.cat".
      </div>
    </div>
    <input type="password" placeholder="Password"
           formControlName="password" required>
    <br/>
    @if(loginForm.controls['password']?.invalid &&
    (loginForm.controls['password']?.dirty || loginForm.controls['password']?.touched))
    { <div class="alert alert-danger">

      @if(loginForm.controls['password']?.errors?.['required']){
        <div>Password is required</div>
      }
      @if(loginForm.controls['password']?.errors?.['minlength']){
        <div>El nom ha de tenir <br>almenys 5 caràcters.</div>
      }
      @if(loginForm.controls['password']?.errors?.['passwordStrength']){
        <div>Han d'haver números, <br>lletres minúscules, <br>
          lletres majúscules <br>i no es poden posar els
          <br>caracters prohibits.</div>
      }
    </div>
    }
  </form>
  <button (click)="register()"
          [disabled]="!loginForm.valid">Registrar</button>
  <p>{{message}}</p>
</div>
</div>
</body>
