.bloque{
  padding-top: 100px;
  width: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
table{
  margin-top: 50px;
}
th{
  border: 2px solid black;
  padding: 5px;
  background-color: #cccccc;
  text-align: center;
}
td{
  border: 1px solid black;
  padding: 5px;
  background-color: #f3f3f3;
  text-align: center;
}
