<div class="bloque">
<button type="submit" (click)="getUsers()">Tabla de puntuaciones</button>
<button type="submit" (click)="obtenerPDF()">Descargar PDF</button>

<div id="pdfTable" #pdfTable>
<table>
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Puntuación</th>
  </tr>
  <tr *ngFor="let row of data">
    <td>{{row.nom}}</td>
    <td>{{row.punts}}</td>
  </tr>
  </thead>
</table>
</div>
</div>
