div:hover{
  background-color: green;
  transition-duration: 1s;
  transform: scale(105%);
}
div{
  height: 50px;
  border: 1px solid #ffffa6;
  display: flex;
  align-items: center;
  justify-content: center;
}
