<nav class="d-flex w-100 justify-content-center align-content-center col-2 bg-warning">
  <div routerLink="/Inici" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Inici</div>
  <div routerLink="/Joc" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Joc</div>
  <div routerLink="/Login" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Login</div>
  <div routerLink="/Register" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Register</div>
  <div routerLink="/Classificació" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Classificació</div>
  <div routerLink="/Ajuda" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Ajuda</div>
</nav>
<router-outlet />
