<body>
<header>
  <h1>El Joc del Quadrat</h1>
</header>
<main>
  <section class="introduction">
    <h2>Benvinguts al Joc del Quadrat</h2>
    <p>El Joc del Quadrat és una experiència emocionant on els jugadors han de controlar un quadrat groc amb l'objectiu de recollir tants quadrats blancs com sigui possible. A mesura que reculls aquests quadrats blancs, la teva puntuació augmenta, i amb ella, la teva posició en el rànquing de guanyadors. El joc és senzill de comprendre però difícil de dominar, oferint hores de diversió i repte.</p>
    <p>El quadrat groc es mou per un camp de joc amb l'ajuda de les fletxes del teclat. Cada quadrat blanc recollit augmenta la teva puntuació i et porta més a prop de convertir-te en el millor jugador. Competiràs amb altres jugadors per veure qui pot obtenir la puntuació més alta i dominar el rànquing.</p></section>
</main>
<footer>
  <p>&copy; 2024 El Joc del Quadrat. Tots els drets reservats.</p>
</footer>
</body>
