<body>
<div class="bloque">
  <h1>Captura activitats</h1>
  <button [disabled]="loginservice.userlogin.value=='logout'" (click)="jugar()">Jugar</button>
  <div tabindex="0" (keydown)="handleKeyDown($event)" class="tablero">
    <div class="fila" *ngFor="let fila of grid">
      <div class="casilla" [class.objetos]="fila2=='O'" [class.player]="fila2=='@'" [class.nada]="fila2=='.'" [class.wall]="fila2=='#'" *ngFor="let fila2 of fila">    </div>
    </div>
  </div>
  <h1>{{message}}</h1>
  <h1>Perduts: {{perdidos}}</h1>
  <h1>Guanyats: {{conseguidos}}</h1>

</div>
</body>
