.tablero{
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
}
.fila{
  display: flex;
  flex-direction: row;
}
.casilla{
  display: flex;

  height: 50px;
  width: 50px;
}
.wall{
  background-image: url("https://i.pinimg.com/originals/3d/4c/8a/3d4c8a24e95be05d7cbd2027920bdf1f.png");
  background-size: cover;
}
.nada{
  background-color: black;
}
.player{
  background-color: yellow;
}
.objetos{
  background-color: green;
}
.tablero:focus {
  outline: none;
  border: none;

}
.bloque{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
}
body{
  height: 92vh;
}
